<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="connectionPostgres" value="Host=ec2-54-83-13-119.compute-1.amazonaws.com;Username=plktymuyvnnoci;Password=a53ef50b5274e2355d0bdef3c8623c03690b219ed5e18c45dba9c4be875b4b71;Database=d8t1keg8rrv8oo;SSL Mode=Require;Trust Server Certificate=true"/>-->
    <add key="connectionPostgres" value="Host=localhost;Username=postgres;Password=523428;Database=pav1"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>